# Ignore log files
*.log

#Ignore IDE files
.idea

#Ignore plugins and uploads
public/content/*

#ignore Bower components
public/content/themes/*/bower_components

# Ignore submodules ( is this nessesery? )
public/site/*

!public/content/themes

!public/content/index.php