/**
    0. Imports
        - Pre loaders
    1. Basic
    2. Header
    3.0 - Blog
    4.0 - Single
    5.0 - Related
    6.0 - Footer
    7.0 - Helpers
    8.0 - WP Overrides
*/
@import '_preloader.dot';

//@import 'preloader.quadric';

/*
    Random - Messy styling
*/



article.sticky {
    $clip: -0px;
    $primary-color: #2f3ba2;
    $color-secundary: white;
    $color-font: white;
    $card-image: 'https://moteurdereussites.withgoogle.com/assets/images/home/bg-entreprises.jpg';
    $padding-left: 40px;
    $padding-right: 40px;
    $padding-top: 60px;
    $padding-bottom: 60px;
    $border-radius: 4px;
    $gap-width: 40px;
    $gap-width-small: 30px;
    $perspective: 1000px;
    $translateZ: 50px;
    $translateZ-small: 30px;

    margin: 0 auto;
    //width: 50%;
    //height: 100%;
    perspective: $perspective;
    -webkit-font-smoothing: antialiased;

    & * {
        transition: transform 1.2s cubic-bezier(.19, 1, .22, 1), box-shadow 1.2s cubic-bezier(.19, 1, .22, 1);
        transform: translateZ(1px);
        // -webkit-backface-visibility: visible;
    }

    .card {
        position: relative;
        padding: 0 $padding-right;
        border-radius: $border-radius;
        background-color: $primary-color;
        background: url($card-image);
        background-position: 120% 50%;
        // background-repeat: no-repeat;
        -webkit-transform-style: preserve-3d;
        color: $color-font;
        //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

        &:hover {
            transform: translateZ($translateZ);
            // box-shadow: 0 10px 10px 0 rgba(0,0,0,.14),0 15px 5px -10px rgba(0,0,0,.2),0 5px 25px 0 rgba(0,0,0,.12);
            box-shadow: 0 20px 35px -15px rgba(0, 0, 0, .2);
            // transform: rotateX(45deg);
        }
        &:hover .title, &:hover .description {
            transform: translateZ($translateZ);
        }

        &:hover .call-to-action {
            transform: translateZ($translateZ-small);
        }
    }

    .card footer {
        background-color: transparent !important;
    }

    .card .content {
        padding: $padding-top 0;
        -webkit-transform-style: preserve-3d;
        perspective-origin: 150% 150%;
    }

    .card .title {
        margin-bottom: $gap-width-small;
        margin-top: 0;
        perspective-origin: right bottom;
    }

    .card .call-to-action {
        margin-top: $gap-width;
    }
}

.infinite-scroll {
    visibility: hidden;
}

.pagination .current {
    color: white;
}

/*
    Comments
*/

/*
    Social Share Single Post Button
*/


/*
    Single Post
*/
article.post-single aside.sidebar {
    margin-top: 4.8rem;
}

article.post-single {
    margin: 0;
}

article.post-single .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    //z-index: 10;
    //visibility: hidden;
}

/*
    Image and Video Post Format
 */

/*
    1. Basic
*/
body {
    background: #fff;
    //overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

main {
    //margin-top: 100px;
}

.cyan a {
    color: #eeeeee;
}

.logged-in .nav-shadow {
    margin-top: 32px;
    @media only screen and (max-width: 782px) {
        & {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 601px) {
    nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        /* line-height: 64px; */
    }
}

/**
 * 4.0 - Single
 */
article.post {
    &.post-single {
        //margin-top: 0;
    }

    .cover-image {
        position: relative;
        background-image: url(http://theme.dev/wp-content/uploads/2015/11/8730_1213219381_large.jpg);
        background-size: cover;
        height: 70vh;
        width: 100%;
        background-position-x: center;
        background-position-y: center;

    }

    .title {
        position: absolute;
        left: 3%;
        bottom: 4%;
        color: #fff;
    }

    .content {
        //margin-left: 16.66667% !important;
        margin-top: 30px;
    }

}

/**
 * 5.0 - Related Posts
 */


/**
 * 6.0 - Footer
 */



