.load {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }
  .load:before, .load:after, .load .dot, .load .outline {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .load .dot {
    width: 96px;
    height: 96px;
    background: #9c27b0;
    -o-animation: in 4s linear 1;
    -moz-animation: in 4s linear 1;
    -ms-animation: in 4s linear 1;
    -webkit-animation: in 4s linear 1;
    animation: in 4s linear 1;
    z-index: 2; }
  .load:before {
    content: "";
    width: 0px;
    height: 0px;
    background: #00bcd4;
    -o-animation: out1 4s linear 1;
    -moz-animation: out1 4s linear 1;
    -ms-animation: out1 4s linear 1;
    -webkit-animation: out1 4s linear 1;
    animation: out1 4s linear 1; }
  .load:after {
    content: "";
    width: 0px;
    height: 0px;
    background: #9c27b0;
    -o-animation: out2 4s linear 1;
    -moz-animation: out2 4s linear 1;
    -ms-animation: out2 4s linear 1;
    -webkit-animation: out2 4s linear 1;
    animation: out2 4s linear 1; }
  .load .outline {
    width: 120px;
    height: 120px;
    z-index: 2; }
    .load .outline span {
      width: 68px;
      height: 68px;
      -o-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      -o-transform: rotate(45deg) skewX(80deg);
      -moz-transform: rotate(45deg) skewX(80deg);
      -webkit-transform: rotate(45deg) skewX(80deg);
      -ms-transform: rotate(45deg) skewX(80deg);
      transform: rotate(45deg) skewX(80deg);
      overflow: hidden;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -o-animation: outline 4s linear 1;
      -moz-animation: outline 4s linear 1;
      -ms-animation: outline 4s linear 1;
      -webkit-animation: outline 4s linear 1;
      animation: outline 4s linear 1; }
      .load .outline span:before {
        content: "";
        display: block;
        border: solid 5px #fff;
        width: 200%;
        height: 200%;
        border-radius: 50%;
        -o-transform: skewX(-80deg);
        -moz-transform: skewX(-80deg);
        -webkit-transform: skewX(-80deg);
        -ms-transform: skewX(-80deg);
        transform: skewX(-80deg);
        -o-animation: outlineBefore 4s linear 1;
        -moz-animation: outlineBefore 4s linear 1;
        -ms-animation: outlineBefore 4s linear 1;
        -webkit-animation: outlineBefore 4s linear 1;
        animation: outlineBefore 4s linear 1; }

@-o-keyframes outline {
  0% {
    -o-transform: rotate(0deg) skewX(80deg);
    -moz-transform: rotate(0deg) skewX(80deg);
    -webkit-transform: rotate(0deg) skewX(80deg);
    -ms-transform: rotate(0deg) skewX(80deg);
    transform: rotate(0deg) skewX(80deg); }

  25% {
    -o-transform: rotate(500deg) skewX(15deg);
    -moz-transform: rotate(500deg) skewX(15deg);
    -webkit-transform: rotate(500deg) skewX(15deg);
    -ms-transform: rotate(500deg) skewX(15deg);
    transform: rotate(500deg) skewX(15deg); }

  50% {
    -o-transform: rotate(1000deg) skewX(40deg);
    -moz-transform: rotate(1000deg) skewX(40deg);
    -webkit-transform: rotate(1000deg) skewX(40deg);
    -ms-transform: rotate(1000deg) skewX(40deg);
    transform: rotate(1000deg) skewX(40deg); }

  75% {
    -o-transform: rotate(1500deg) skewX(60deg);
    -moz-transform: rotate(1500deg) skewX(60deg);
    -webkit-transform: rotate(1500deg) skewX(60deg);
    -ms-transform: rotate(1500deg) skewX(60deg);
    transform: rotate(1500deg) skewX(60deg); }

  100% {
    -o-transform: rotate(2160deg) skewX(80deg);
    -moz-transform: rotate(2160deg) skewX(80deg);
    -webkit-transform: rotate(2160deg) skewX(80deg);
    -ms-transform: rotate(2160deg) skewX(80deg);
    transform: rotate(2160deg) skewX(80deg); } }

@-moz-keyframes outline {
  0% {
    -o-transform: rotate(0deg) skewX(80deg);
    -moz-transform: rotate(0deg) skewX(80deg);
    -webkit-transform: rotate(0deg) skewX(80deg);
    -ms-transform: rotate(0deg) skewX(80deg);
    transform: rotate(0deg) skewX(80deg); }

  25% {
    -o-transform: rotate(500deg) skewX(15deg);
    -moz-transform: rotate(500deg) skewX(15deg);
    -webkit-transform: rotate(500deg) skewX(15deg);
    -ms-transform: rotate(500deg) skewX(15deg);
    transform: rotate(500deg) skewX(15deg); }

  50% {
    -o-transform: rotate(1000deg) skewX(40deg);
    -moz-transform: rotate(1000deg) skewX(40deg);
    -webkit-transform: rotate(1000deg) skewX(40deg);
    -ms-transform: rotate(1000deg) skewX(40deg);
    transform: rotate(1000deg) skewX(40deg); }

  75% {
    -o-transform: rotate(1500deg) skewX(60deg);
    -moz-transform: rotate(1500deg) skewX(60deg);
    -webkit-transform: rotate(1500deg) skewX(60deg);
    -ms-transform: rotate(1500deg) skewX(60deg);
    transform: rotate(1500deg) skewX(60deg); }

  100% {
    -o-transform: rotate(2160deg) skewX(80deg);
    -moz-transform: rotate(2160deg) skewX(80deg);
    -webkit-transform: rotate(2160deg) skewX(80deg);
    -ms-transform: rotate(2160deg) skewX(80deg);
    transform: rotate(2160deg) skewX(80deg); } }

@-webkit-keyframes outline {
  0% {
    -o-transform: rotate(0deg) skewX(80deg);
    -moz-transform: rotate(0deg) skewX(80deg);
    -webkit-transform: rotate(0deg) skewX(80deg);
    -ms-transform: rotate(0deg) skewX(80deg);
    transform: rotate(0deg) skewX(80deg); }

  25% {
    -o-transform: rotate(500deg) skewX(15deg);
    -moz-transform: rotate(500deg) skewX(15deg);
    -webkit-transform: rotate(500deg) skewX(15deg);
    -ms-transform: rotate(500deg) skewX(15deg);
    transform: rotate(500deg) skewX(15deg); }

  50% {
    -o-transform: rotate(1000deg) skewX(40deg);
    -moz-transform: rotate(1000deg) skewX(40deg);
    -webkit-transform: rotate(1000deg) skewX(40deg);
    -ms-transform: rotate(1000deg) skewX(40deg);
    transform: rotate(1000deg) skewX(40deg); }

  75% {
    -o-transform: rotate(1500deg) skewX(60deg);
    -moz-transform: rotate(1500deg) skewX(60deg);
    -webkit-transform: rotate(1500deg) skewX(60deg);
    -ms-transform: rotate(1500deg) skewX(60deg);
    transform: rotate(1500deg) skewX(60deg); }

  100% {
    -o-transform: rotate(2160deg) skewX(80deg);
    -moz-transform: rotate(2160deg) skewX(80deg);
    -webkit-transform: rotate(2160deg) skewX(80deg);
    -ms-transform: rotate(2160deg) skewX(80deg);
    transform: rotate(2160deg) skewX(80deg); } }

@keyframes outline {
  0% {
    -o-transform: rotate(0deg) skewX(80deg);
    -moz-transform: rotate(0deg) skewX(80deg);
    -webkit-transform: rotate(0deg) skewX(80deg);
    -ms-transform: rotate(0deg) skewX(80deg);
    transform: rotate(0deg) skewX(80deg); }

  25% {
    -o-transform: rotate(500deg) skewX(15deg);
    -moz-transform: rotate(500deg) skewX(15deg);
    -webkit-transform: rotate(500deg) skewX(15deg);
    -ms-transform: rotate(500deg) skewX(15deg);
    transform: rotate(500deg) skewX(15deg); }

  50% {
    -o-transform: rotate(1000deg) skewX(40deg);
    -moz-transform: rotate(1000deg) skewX(40deg);
    -webkit-transform: rotate(1000deg) skewX(40deg);
    -ms-transform: rotate(1000deg) skewX(40deg);
    transform: rotate(1000deg) skewX(40deg); }

  75% {
    -o-transform: rotate(1500deg) skewX(60deg);
    -moz-transform: rotate(1500deg) skewX(60deg);
    -webkit-transform: rotate(1500deg) skewX(60deg);
    -ms-transform: rotate(1500deg) skewX(60deg);
    transform: rotate(1500deg) skewX(60deg); }

  100% {
    -o-transform: rotate(2160deg) skewX(80deg);
    -moz-transform: rotate(2160deg) skewX(80deg);
    -webkit-transform: rotate(2160deg) skewX(80deg);
    -ms-transform: rotate(2160deg) skewX(80deg);
    transform: rotate(2160deg) skewX(80deg); } }

@-o-keyframes outlineBefore {
  0% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #9c27b0; }

  25% {
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: solid 5px #9c27b0; }

  49% {
    border: solid 5px #9c27b0; }

  50% {
    -o-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    border: solid 5px #00bcd4; }

  75% {
    -o-transform: skewX(-60deg);
    -moz-transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform: skewX(-60deg);
    border: solid 5px #00bcd4; }

  100% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #00bcd4; } }

@-moz-keyframes outlineBefore {
  0% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #9c27b0; }

  25% {
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: solid 5px #9c27b0; }

  49% {
    border: solid 5px #9c27b0; }

  50% {
    -o-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    border: solid 5px #00bcd4; }

  75% {
    -o-transform: skewX(-60deg);
    -moz-transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform: skewX(-60deg);
    border: solid 5px #00bcd4; }

  100% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #00bcd4; } }

@-webkit-keyframes outlineBefore {
  0% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #9c27b0; }

  25% {
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: solid 5px #9c27b0; }

  49% {
    border: solid 5px #9c27b0; }

  50% {
    -o-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    border: solid 5px #00bcd4; }

  75% {
    -o-transform: skewX(-60deg);
    -moz-transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform: skewX(-60deg);
    border: solid 5px #00bcd4; }

  100% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #00bcd4; } }

@keyframes outlineBefore {
  0% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #9c27b0; }

  25% {
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: solid 5px #9c27b0; }

  49% {
    border: solid 5px #9c27b0; }

  50% {
    -o-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    border: solid 5px #00bcd4; }

  75% {
    -o-transform: skewX(-60deg);
    -moz-transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform: skewX(-60deg);
    border: solid 5px #00bcd4; }

  100% {
    -o-transform: skewX(-80deg);
    -moz-transform: skewX(-80deg);
    -webkit-transform: skewX(-80deg);
    -ms-transform: skewX(-80deg);
    transform: skewX(-80deg);
    border: solid 5px #00bcd4; } }

@-o-keyframes in {
  0% {
    width: 144px;
    height: 144px;
    background: #9c27b0; }

  40% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  41% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  50% {
    width: 144px;
    height: 144px;
    background: #00bcd4; }

  90% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  91% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  100% {
    width: 144px;
    height: 144px;
    background: #9c27b0; } }

@-moz-keyframes in {
  0% {
    width: 144px;
    height: 144px;
    background: #9c27b0; }

  40% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  41% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  50% {
    width: 144px;
    height: 144px;
    background: #00bcd4; }

  90% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  91% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  100% {
    width: 144px;
    height: 144px;
    background: #9c27b0; } }

@-webkit-keyframes in {
  0% {
    width: 144px;
    height: 144px;
    background: #9c27b0; }

  40% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  41% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  50% {
    width: 144px;
    height: 144px;
    background: #00bcd4; }

  90% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  91% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  100% {
    width: 144px;
    height: 144px;
    background: #9c27b0; } }

@keyframes in {
  0% {
    width: 144px;
    height: 144px;
    background: #9c27b0; }

  40% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  41% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  50% {
    width: 144px;
    height: 144px;
    background: #00bcd4; }

  90% {
    width: 0px;
    height: 0px;
    background: #00bcd4; }

  91% {
    width: 0px;
    height: 0px;
    background: #9c27b0; }

  100% {
    width: 144px;
    height: 144px;
    background: #9c27b0; } }

@-o-keyframes out1 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@-moz-keyframes out1 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@-webkit-keyframes out1 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@keyframes out1 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@-o-keyframes out2 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 0px;
    height: 0px; }

  60% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@-moz-keyframes out2 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 0px;
    height: 0px; }

  60% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@-webkit-keyframes out2 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 0px;
    height: 0px; }

  60% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }

@keyframes out2 {
  0% {
    width: 0px;
    height: 0px; }

  30% {
    width: 0px;
    height: 0px; }

  60% {
    width: 220vw;
    height: 220vw; }

  100% {
    width: 220vw;
    height: 220vw; } }
